body {
  font-family: Nunito, sans-serif;
  color: #1c1c1c;
}
h1,
h2,
h3 {
  font-family: Asap, sans-serif;
  color: #0a0a0a;
  text-shadow: 3px;
}

.botao {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #191970;
  font-size: 0.9em;
  border-radius: 3px;
}

/* Navegação */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191970;
}

nav > a {
  text-decoration: underline red;
  color: #ffffff;
  font-weight: 800;
  font-size: 32px;
  font-family: Yellowtail, serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none; /* para tirar o estilo da lista */
  padding: 0; /*para tirar o espaçamento */
  width: 100%; /*A largura , com isso o menu vai ocupar 100% da plataforma onde estiver exibindo */
}

nav ul li {
  text-align: center;
  width: 100%;
}

nav ul li a {
  display: inline-block; /* para transforma todos os links em bloco */
  padding: 10px 0; /*o zero e para tirar o espaçamento da letra entre o bloco */
  width: 100%;
  text-decoration: none; /* para tirar o sublinhado */
  color: #ffffff;
}

/* CABEÇALHO */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/camera.jpg);
  background-size: cover; /*para cobrir todo espaço*/
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

header p {
  margin-bottom: 2em; /*marge dinamica a partir da posição que iniciar */
}

#topo h1 {
  color: #00ffff;
}

/* SOBRE */

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 10px 20px 20px;
  background-color: #191970;
  color: #ffffff;
}

#sobre h2 {
  color: #ffffff;
}

#sobre p {
  margin-bottom: 2.5em;
  max-width: 1000px; /*para telas grandes nao precisar esticar tanto o site */
}

#sobre .botao {
  background-color: #f1f1f1;
  color: #1c1c1c;
}

/* SERVIÇOS */

#serviços {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
#serviços div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/* FOTO */

#fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#fotos h2 {
  margin-bottom: 20px;
}

#fotos img {
  width: 100%;
}

/*CONTATOS*/

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#contato h2 {
  color: #000000;
}

/*RODAPÉ*/

footer {
  text-align: center;
  padding: 10px;
  background-color: #191970;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #00ffff;
}

/*serve para carregar o site de acordo com o tipo de tela */
@media screen and (min-width: 768px) {
  /*NAV*/

  nav {
    flex-direction: row;
    justify-content: space-around; /* Distribuir itens uniformemente. Os itens têm metade do espaço em qualquer extremidade */
  }

  nav ul {
    flex-direction: row; /* O texto de direção é colocado em uma linha */
    width: 70%;
  }

  /*CABEÇALHO*/

  header {
    height: 600px;
    height: 60vh; /*altura dinamica */
    justify-content: center; /* Empacote itens ao redor do centro */
  }

  /*SOBRE*/
  #sobre {
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px; /*altura minima*/
  }
  /*SERVIÇOS*/
  #serviços {
    flex-direction: row;
    flex-wrap: wrap; /*quebra de linha */
    align-items: flex-start;
    max-width: 1000px; /*largura maxima*/
    margin: 0 auto; /*para ajustar a distancia */
  }

  #serviços h2 {
    text-align: center;
    width: 100%;
  }

  #serviços div {
    flex-grow: 1;
    flex-basis: 150px; /*tamanho maximo para todoas as flex*/
    padding: 0 10px;
  }

  /*FOTOS*/
  #fotos {
    flex-direction: row;
    flex-wrap: wrap; /*para as fotos ficarem lado a lado*/
  }

  #fotos h2 {
    width: 100%;
    text-align: center;
  }

  #fotos img {
    width: 33.3333333%;
  }

  /*CONTATOS*/
  #contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
  }

  #contato h2,
  #contato p {
    width: 100%;
  }
}
